a {
	color: orangered;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
body {
	color: #101010;
}
footer,
header,
section {
	left: 0;
	position: fixed;
	right: 0;
}
footer,
header {
	background: #101010;
	color: orangered;
}
footer {
	bottom: 0;
}
footer p {
	color: #fdfdfd;
	margin: 0;
	line-height: 2em;
	text-align: center;
}
form {
	margin: 0 auto;
	max-width: 768px;
}
h1,
h2,
h3 {
	line-height: 1.5em;
	margin: 0;
}
h1 {
	font-size: 2em;
	text-align: center;
}
header {
	top: 0;
}
html {
	background: #fdfdfd url(../img/bg.jpg) no-repeat center top;
}
img {
	max-width: 100%
}
input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #101010;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: block;
	padding: .5em;
	width: 100%;
}
input:focus {
	border-color: orangered;
	-webkit-box-shadow: 0 0 15px orangered;
	-moz-box-shadow: 0 0 15px orangered;
	box-shadow: 0 0 15px orangered;
	outline: 0;
}
section {
	bottom: 32px;
	overflow: auto;
	padding: 1em 0;
	top: 48px;
	width: 100%
}
/*
 * Classes
 */
.character {
	background: #fdfdfd;
	border: 0px solid #101010;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 15px orangered;
	-moz-box-shadow: 0 0 15px orangered;
	box-shadow: 0 0 15px orangered;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1em auto 0;
	max-width: 768px;
	overflow: hidden;
	padding: 5px;
	width: 95%;
}
.character-description {
	margin: 0;
	text-align: justify;
}
.character-events-list {
	margin: 0;
	padding-left: 20px;
}
.character-externallink {
	display: inline-block;
	margin-left: 5px;
	text-transform: capitalize;
}
.character-image {
	float: right;
	font-size: 0;
	margin: 0 0 5px 5px;
	width: 50%;
}
.character-image img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.character-name {
	border-bottom: 1px dashed orangered;
	color: orangered;
	margin: 0;
}
.icon-github {
	background: #4183C4;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	display: block;
	font-size: 0;
	margin-top: -16px;
	position: absolute;
	top: 50%;
	right: 8px;;
	width: 32px;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-ms-transition: .5s all;
	-o-transition: .5s all;
	transition: .5s all;
}
.icon-github:hover {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
@media screen and (max-width: 768px) {
	input {
		margin: 0 auto;
		width: 95%;
	}
}

/*
 * Autocomplete styles
 */
.ui-autocomplete {
}
.ui-menu-item {
}
.ui-menu-item a {
}