	<article class="character" ng-if="character">
		<figure class="character-image">
			<img src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.name}}" />
		</figure>
		<h2 class="character-name" ng-bind="character.name">
		</h2>
		<p class="character-description" ng-bind="character.description">
		</p>
		<div class="character-events">
			<h3>List of events where the character appears:</h3>
			<ul class="character-events-list">
				<li class="character-events-list-item" ng-repeat="event in events" ng-bind="event.name">
				</li>
			</ul>
		</div>
		<p clas="character-moreinfo">
			<span>More info in:</span>
			<a href="{{url.url}}" ng-repeat="url in urls" class="character-externallink" ng-bind="url.type"></a>
		</p>
	</article>
	<article class="character error" ng-if="character == false">
		<p>
			The character your searching doesn't exist o can't be found in de data base, check if the name is correct and search again.
		</p>
	</article>